html {
    background-color: black;
}

.img-one {
    width: 100%;
    border: 5px solid ;
}

.others{
    margin-top: 50px;
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    text-transform: uppercase;
}

.img-two {
    width: 30%;
    border: 5px solid ;
}

.actual {
    margin-top: 200px;
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

